# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env/
env/

# VS Code
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Byte-compiled / cache
*.pyc

# Ignore local credentials
credentials.json

# Ignore IDE project files
.idea/

# Temp / runner files
tempCodeRunnerFile.py
.env
